<!DOCTYPE html>
<html>
  <style type="text/css">
    body {
      background-color: #FFBD60;
    }
  </style>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <h1>
      Uh-oh! This isn't what you were looking for is it...
    </h1>
    <h3>
      While you're here, enjoy this excerpt:
    </h3>
    <p>
      There is something that is perfect in its disorder. <br />
      Which is born before Heaven and Earth. <br />
      So silent and desolate! It establishes itself without renewal. <br />
      Functions universally without lapse. <br />
      We can regard it as the Mother of Everything. <br />
      I don't know its name. <br />
      Hence, when forced to name it, I call it Tao. <br />
      When forced to categorize it, I call it great. <br />
    </p>
  </body>
</html>